html, body {
  display: flex;
  height: 100vh;
  margin: 0;
}


.left-container {
  width: 400px; /* Set fixed width */
  position: relative; /* Needed for absolute positioning of text */
}

.left-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.left-body-text {
  color: white;
  text-align: center;
  font-size: 6em;
  font-family: NorseBold;
}

.left-body-container {
  background: black;
  opacity: 0.6;
  top: 20%;
  width: 100%;
  position: absolute;
}

/* Right container for remaining content */
.right-container {
  flex: 1; /* Take up remaining space */
}

/* Remove the float styling from heading */
h1 {
  float: none;
}

@font-face {
  font-family: NorseBold;
  src: url(./SignUpAssets/Norse-Bold.otf);
}

.right-container {
  margin-left: 10px;
}