html, body {
  height: 100%;
  margin: 0;
}

.left-container {
    position: relative;
    width: fill;
}

.left-image {
    height: 100vh;
    display: block;
    object-fit: cover;
}

.left-body {
    position: absolute;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    object-fit: cover;
  }

